<!-- <div class="tableToDo">
  <div class="list-group">
    <div>
      <button type="button" class="list-group-item list-group-item-action active" aria-current="true" disabled>
        To do list
      </button>
    </div>
    <ul class="list-unstyled" >
      <li *ngFor="let toDo of toDos">
      <button type="button" class="list-group-item list-group-item-action">
        {{toDo.text}}
      </button>
    </li>
      <button type="button" class="list-group-item list-group-item-action">
        Morbi leo risus
      </button>
      <button type="button" class="list-group-item list-group-item-action">
        Porta ac consectetur ac
      </button>
      <button type="button" class="list-group-item list-group-item-action">
        Vestibulum at eros
      </button>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary"(click)="addOrEdit()">Dodaj</button>
        <button type="button" class="btn btn-secondary">Uredi</button>
        <button type="button" class="btn btn-secondary">Briši</button>
      </div>
    </ul>
  </div>
 -->

<div class="example-container mat-elevation-z8">
  <div>
    <h1 class="header">Easy TO DO list</h1>
    <h2 class="header2">Add your TO DO today!</h2>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="toDos" class="example-table">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
      </ng-container>

      <ng-container matColumnDef="isFinished">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.isFinished}} </td>
      </ng-container>

      <ng-container matColumnDef="dateFinished">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFinished}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link" (click)="onEvent($event)">
          <button mat-raised-button class="editButton" (click)="AddEditOrDelete('Edit',element)">Edit</button> |
          <button mat-raised-button color="warn" (click)="AddEditOrDelete('Delete',element)">Delete</button>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <!-- <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container> -->

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <button mat-button (click)="AddEditOrDelete('Add', {})" class="addButton" mat-flat-button color="primary">Add
      new</button>
    <button mat-button (click)="deleteMany()" class="ml-3" mat-flat-button color="warn"
      *ngIf="selection.selected && selection.selected.length > 1">Delete selected</button>
  </div>
</div>

<!-- FINISHED TASKS -->
<div class="tasks">
  <div class="finished">
    <div class="finished-container mat-elevation-z8">
      <div>
        <h2 class="header2">Finished tasks</h2>
      </div>
      <div class="example-table-container">
        <table mat-table [dataSource]="finished" class="example-table">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          
          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
          </ng-container>

          <ng-container matColumnDef="dateFinished">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link" (click)="onEvent($event)">
              <button mat-raised-button class="editButton" (click)="AddEditOrDelete('Edit',element)">Edit</button> |
              <button mat-raised-button color="warn" (click)="AddEditOrDelete('Delete',element)">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayFinished"></tr>
          <tr mat-row *matRowDef="let row; columns: displayFinished;" (click)="selection.toggle(row)">
          </tr>
        </table>
        <button mat-button (click)="AddEditOrDelete('Add', {})" class="addButton" mat-flat-button color="primary">Add
          new</button>
        <button mat-button (click)="deleteMany()" class="ml-3" mat-flat-button color="warn"
          *ngIf="selection.selected && selection.selected.length > 1">Delete selected</button>
      </div>
    </div>
  </div>

  <!-- NOT FINISHED TASKS -->
  <div class="notFinished">
    <div class="notFinished-container mat-elevation-z8">
      <div>
        <h2 class="header2">Not finished tasks</h2>
      </div>
      <div class="example-table-container">
        <table mat-table [dataSource]="notFinished" class="example-table">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link" (click)="onEvent($event)">
              <button mat-raised-button class="editButton" (click)="AddEditOrDelete('Edit',element)">Edit</button> |
              <button mat-raised-button color="warn" (click)="AddEditOrDelete('Delete',element)">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayNotFinished"></tr>
          <tr mat-row *matRowDef="let row; columns: displayNotFinished;" (click)="selection.toggle(row)">
          </tr>
        </table>
        <button mat-button (click)="AddEditOrDelete('Add', {})" class="addButton" mat-flat-button color="primary">Add
          new</button>
        <button mat-button (click)="deleteMany()" class="ml-3" mat-flat-button color="warn"
          *ngIf="selection.selected && selection.selected.length > 1">Delete selected</button>
      </div>
    </div>
  </div>
</div>