/* .list-group{
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.list-group-item.list-group-item-action.active{
    font-size: 30px;
}
.list-group-item.list-group-item-action{
    font-size: 18px;
}

.table.table-bordered{
    background-color: blanchedalmond;
}
.table{
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    width: 500px;
}

h2{
    padding-top: 10px;
    font-size: 35px;
}

.custom-control.custom-checkbox{
    font-size: 20px;
} */

table {
    width: 70%;
  }

.example-table-container{
    padding-left: 70px;
}

th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

th{
    font-size: 25px;
}
td{
    font-size: 20px;
}
.tdTable{
    padding-left:70px;
    padding-top: 60px;
}
.editButton{
    background-color:#f5e642;
}
.addButton{
    background-color: rgb(64, 141, 64);
}
.header{
    font-size: 50px;
    padding-top: 80px;
    padding-left: 70px;
    color: white;
    font-family: 'Righteous', cursive;
}
.header2{
    font-size: 30px;
    padding-left: 70px;
    color: white;
    font-family: 'Righteous', cursive;
}
.mat-cell{
    padding:10px;
}
.mat-button{
    font-size:17px;
}
.mat-raised-button{
    font-size:17px;
} 

.finished{
    padding-top: 80px;
    flex-grow: 1;
}

.notFinished{
    padding-top: 80px;
    flex-grow: 1;
}

.tasks{
    display: flex;
}