
  
    <!-- 
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
        
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <div class="modal-body">
            Modal body..
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
  -->
  <div [formGroup]="textGroup">
  <h1 mat-dialog-title><strong>{{action}}</strong></h1>
  <div mat-dialog-content>
    <mat-form-field *ngIf ="action != 'Delete'; else elseTemplate">
      <input placeholder="{{action}} Text" formControlName="text" required matInput [(ngModel)]="local_data.text">
      <mat-error *ngIf="text.invalid">{{getErrorMessage()}}</mat-error> 
    </mat-form-field>
    <ng-template #elseTemplate>
      Do you want to delete <b>{{local_data.text}}</b>?
    </ng-template>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
  </div>