.mat-form-field{
    font-size: 25px;
}
.mat-button{
    font-size: 20px;
}
.mat-dialog-content{
    font-size: 25px;
    width: 450px;
    height: 400px;

}
.mat-form-field{
    width: 400px;
}
/* SLIDER */
.slide{
    padding-top: 20px;
    font-size: 25px;
}
