.mat-form-field{
    font-size: 25px;
}
.mat-button{
    font-size: 20px;
}
.mat-dialog-content{
    font-size: 25px;
    width: 450px;

}
/* .mat-form-field{
    width: 400px;
}
.slide{
    padding-top: 20px;
    font-size: 25px;
}
.mat-dialog-content{
    height: 200px;
} */