
  <div class="modalcina">
    <div class="modal-header">
      <h1 class="modal-title" id="modal-basic-title">Player skills</h1>

      <button type="button" class="close" aria-label="Close" (click)="modalDismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="chart-wrapper">
        <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels"
          [chartType]="radarChartType">
        </canvas>
      </div>
    </div>
  
  </div>